<%= form_for(@command) do |f| %>
  <% if command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% command.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :adress %><br><br>
    <%= f.text_field :adress , class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :zipcode %><br><br>
    <%= f.text_field :zipcode, class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :dateBegin %>
    <p>si pas de date format ASAP</p>
    <br>
    <%= f.date_select :dateBegin, class: "form-control" %>
  </div><br>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :dateEnd %>
      <br>
      <%= f.date_field :dateEnd, class: "form-control" %>
    </div><br>
  <% end %>
  <div class="field">
    <%= f.label :unit %><br><br>
    <%= f.text_field :unit, class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :commentaire %><br><br>
    <%= f.text_field :commentaire, class: "form-control" %>
  </div><br>

  <% if current_user.admin? %>
    <div >
      <p>Etat</p>
      <%= f.check_box :statewait %><p> En livraison</p>
      <%= f.check_box :statedone %><p> Livré</p> <br>
    </div><br>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
