<div class="container">
  <div class="titre">
    <h1 class="titre1">Commandes en attente</h1>


    <br>
    <h3 class="titre2"></h3> <h1 class="titre3"> <%= @prixTotal %> €</h1>
  </div>

  <% @listDate.each do |date| %>
    <h2><%= date.strftime("%d/%m/%Y") %> </h2>
    <div class="media">
      <div class="media-body">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th class="text-center">adresse</th>
              <th class="text-center">zipcode</th>
              <th class="text-center">date</th>
              <th class="text-center">date modifié</th>
              <th class="text-center">From</th>
              <th class="text-center">To</th>
              <th class="text-center">ASAP</th>
              <th class="text-center">prix</th>
              <th class="text-center">unité</th>
              <th class="text-center">commentaire</th>
              <th class="text-center">état</th>
              <% if current_user.admin == true %>
                <th class="text-center">User</th>
              <% end %>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @commands.each do |command| %>
              <% if  command.dateFinalFrom.strftime("%d/%m/%Y") == date.strftime("%d/%m/%Y")%>
                <% if command.dateFinalFrom.strftime("%d/%m/%Y") > DateTime.now.strftime("%d/%m/%Y") %>
                  <tr class="active text-center">
                <% elsif command.dateFinalFrom.strftime("%d/%m/%Y") == DateTime.now.strftime("%d/%m/%Y") %>
                  <tr class="warning text-center ">
                <% else %>
                  <tr class="danger text-center ">
                <% end %>
                  <td><%= command.adress %></td>
                  <td><%= command.zipcode %></td>
                  <td><%= command.dateEnterFrom.strftime("%d/%m/%Y") %></td>
                  <td><%= command.dateModifFrom.strftime("%d/%m/%Y") if command.dateModifFrom.present?%></td>
                  <td><%= command.dateFinalFrom.strftime("%Hh%M")   %></td>
                  <td><%= command.dateFinalTo.strftime("%Hh%M")  %></td>
                  <% if command.asap != nil %>
                    <td>fils</td>
                  <% else %>
                    <td> </td>
                  <% end %>
                  <td><%= command.price %></td>
                  <td><%= command.unit %></td>
                  <td><%= command.commentaire %></td>
                  <% if command.statewait != true && command.statedone != true %>
                    <td>En attente</td>
                  <% end %>
                  <% if command.statewait == true && command.statedone != true %>
                    <td>En livraison</td>
                  <% end %>
                  <% if command.statedone == true %>
                    <td>Livré</td>
                  <% end %>
                  <% if current_user.admin == true %>
                    <td><%= command.usercommand%></td>
                  <% end %>
                  <td><%= link_to 'Show', command, class:'btn btn-primary btn-sm' %></td>
                  <% if (command.statewait != true && command.statedone != true) || current_user.admin == true %>
                    <td><%= link_to 'Edit', edit_command_path(command), class:'btn btn-warning btn-sm' %></td>
                    <td><%= link_to 'Destroy', command, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div> <br>
  <% end %>
  <br><br><br><br><br><br><br><br><br>
  <h3>Import Commandes</h3>
  <%= form_tag import_commands_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Commandes" %>
  <% end %>
  <p>
    Download:
    <%= link_to "CSV", commands_export_path(format: "csv") %> |
  </p>

  <br>
</div>
