<!DOCTYPE html>
<html>
  <head>
    <title>OLVO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to('gestion des utilisateur', rails_admin_path) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
